<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Your Email</title>
</head>
<body >
<div style="
font-size: 15px;
font-family: sans-serif;
border-radius: 0.5rem;
border: 1px solid black;
padding: 2vh;
background-color: #eeeaea;
margin-left: 5%;
margin-right: 5%;
">
    <img src="/static/images/catrin_email.jpeg" style="display: block;margin: auto; width:100%;height:100%"></img><br>
    <h2>Hey <b>{{name}}</b>,</h2>
    <p><b>Thanks for signing up 🙌</b>. We're excited to have you on board!</p>
    <p>To get started,we just need to verify your email address.<b> Click the button below to verify</b>.</p>
    <a href="{{verification_link}}"><button style="
        background-color: #b59595;
        border-radius: 0.5rem;
        padding: 0.5rem;
        display: block;
        margin: auto;
        font-family: sans-serif;
        font-size: large;
    ">Verify My Email</button></a><br><br>
    <p>If you didn't sign up,you can saftely ignore this email</p>
    <p>Cheers,<br>CaterEase</p>
</body>
</html>

